VM_HOST=177.44.248.51
VM_USER=univates
VM_BASE_DIR=/opt/registro-movimentacoes
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=barbara.leidemer@universo.univates.br
MAIL_PASSWORD=xqqmjlkllwdmmzfy
JAVA_OPTS=-Xms128m -Xmx256m
